img,
svg {
  vertical-align: middle;
}

.subhead{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
    color: #868e96;
}

#sideNav .navbar-collapse .navbar-nav .navbar-item .nav-link {
    font-weight: 700;
    text-transform: uppercase;
}

.text-primary {
    color: #5c16c5 !important;
}

.navbar {
    background-color: #5c16c5 !important;
    padding: 0.5rem 1rem;
}

hr {
    margin: 0 2rem;
    color: inherit;
    border: 0;
    border-top: 1px solid;
    opacity: 0.3;
}

section.resume {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 5rem 1rem 5rem 1rem;
    max-width: 75rem;

}

.social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff;
    border-radius: 100%;
    font-size: 1.5rem;
    margin-right: 1.5rem;
}

.social-icon:hover{
    background-color: #5c16c5;
}

.dev-icons{
    padding-left: 0;
    list-style: none;
    font-size: 4rem;
}

.list-inline-item {
    display: inline-block;
}

.fa-li {
    left: calc(var(--fa-li-width, 2rem)* -1);
    position: absolute;
    text-align: center;
    width: var(--fa-li-width,2rem);
    line-height: inherit;
}

@media (min-width:992px){
    /* laisser l'espace du body pour la barre de navigation */
    body{
        padding-top: 0;
        padding-left: 17rem;
    }

    /* Style pour la navigation */
    #sideNav {
        padding-left: 0;
        padding-left: 0;
        text-align: center;
        position: fixed;
        top: 0;
        display: flex;
        width: 17rem;
        height: 100vh;
        box-shadow: 0 0 1rem #5c16c5;
    }
    #sideNav .navbar-brand{
        display: flex;
        margin: auto auto 0;
        padding: 0.5rem;
    }
    .navbar-expend-lg .navbar-toggler{
        display: none;
    }
    #sideNav .navbar-collapse {
        display: flex;
        align-items: flex-start;
        flex-grow: 0;
        width: 100%;
        margin-bottom: auto;
    }
    #sideNav .navbar-collapse .navbar-nav{
        flex-direction: column;
        width: 100%;
    }
    #sideNav .navbar-brand .img-profile{
        max-width: 10rem;
        max-height: 10rem;
        border: 0.5rem solid rgba(255,255,255,0.2);
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    /* Style des sections */
    section.resume {
        padding: 5rem 3rem 5rem 3rem;
        min-height: 100vh;
    }
}
